:root {
    /* Header-Farben */
    --header-dark-brown: rgb(79, 55, 45);
    --header-warm-beige: rgb(234, 224, 200);
    --header-soft-gold: rgb(212, 175, 55);

    /* Main-Farben */
    --main-light-cream: rgb(252, 246, 235);
    --main-soft-green: rgb(152, 190, 156);
    --main-muted-blue: rgb(95, 133, 163);

    /*Button:hover - Farben*/
    --button-hover: rgb(125, 93, 80);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    background: var(--header-dark-brown);
    color: var(--header-warm-beige);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#displayLoginRegisterBtn button {
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid var(--header-soft-gold);
}

#displayLoginRegisterBtn button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--button-hover);
}

#loginBtn {
    border-radius: 5px 0 0 5px;
}

#registerBtn {
    border-radius: 0 5px 5px 0;
}

#logoutBtn {
    border-radius: 5px;
}


/*MAIN*/

main {
    padding: 2rem;
}

#optionNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#optionNav button {
    margin-left: 10px;
    background-color: var(--header-dark-brown);
    border: 2px solid var(--header-soft-gold);
}

#optionNav button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--button-hover);
}

#editBtn {
    border-radius: 5px 0 0 5px;
}

#editRequestBtn {
    border-radius: 0 5px 5px 0;
}

#bookList, #bookForm {
    margin-bottom: 2rem;
}

#addEditBookForm input {
    border: solid var(--header-soft-gold);
}

#addEditBookForm button {
    background-color: var(--header-dark-brown);
    border: 2px solid var(--header-soft-gold);
}

#addEditBookForm button:hover {
    background-color: var(--button-hover);
}

.search-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    max-width: 400px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--header-soft-gold);
    border-radius: 4px 0 0 4px;
    outline: none;
}

#searchButton {
    padding: 10px 20px;
    background-color: var(--header-dark-brown);
    color: white;
    font-size: 16px;
    border: 2px solid var(--header-soft-gold);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #555;
}

/* requestForm */
#requestContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: space-between;
}

#requestContainer input {
    border: solid var(--header-soft-gold);
}

#requestContainer button {
    margin-top: 10px;
    background-color: var(--header-dark-brown);
    border: 2px solid var(--header-soft-gold);
}

#requestContainer button:hover {
    background-color: var(--button-hover);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
}

button:hover {
    background: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--main-light-cream);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li div button {
    border-radius: 5px;
    background-color: var(--header-dark-brown);
    border: 2px solid var(--header-soft-gold);
}

li div button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 730px) {
    li {
        display: flex;
        flex-direction: column;
    }

    #bookList div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 515px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 490px) {
    #optionNav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav #optionNav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}